<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://bin-eu.asg.com/artifactory/api/nuget/service-sdk-dotnet-net" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAqafU0iqQ+kG5tMRXE9Z65AAAAAACAAAAAAADZgAAwAAAABAAAAAWSJC2u2NZ/OI8x1xq42c5AAAAAASAAACgAAAAEAAAAPSiZbvka8iCwZgs1HYxMckoAAAAa1SdBXJkwY5RzEjRhM3fqg2W9jgmkdWGl9F/tQZIBD9QH3wfUszHaBQAAADIMuy68zAXUSvOJMvAaXKaSkXmOA==" />
  </apikeys>
</configuration>