<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="info"
      internalLogFile="/logs/internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="messageLayout" value="${longdate} ~ ${diagnostics-activity-id=no-request-id:whenEmpty=no-request-id} ~ ${aspnet-user-identity:whenEmpty=no-user-id} ~ ${event-properties:item=EventId_Id:whenEmpty=0} ~ ${uppercase:${level}} ~ ${logger} ~ ${message} ${exception:format=tostring}"/>

  <targets>
    <target
      name="logfile"
      xsi:type="File"
      fileName="logs/${shortdate}.log"
      layout="${messageLayout}"/>
    <target
      name="Console"
      xsi:type="Console"
      layout="${messageLayout}"/>

    <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${messageLayout}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="colouredConsole" />
  </rules>
</nlog>