<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://bin-eu.asg.com/artifactory/api/nuget/service-sdk-dotnet-net" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1CpwoQZZwk6+EApBiwqmwwAAAAACAAAAAAADZgAAwAAAABAAAACzZPzSuINcUK6tHBlOodc3AAAAAASAAACgAAAAEAAAANnyN9tch+duqxEXteDsxXgYAAAAmwi4yz49Y34U7E6cVjf1WU22Jbo5+zCSFAAAALp+mTb15Pfg8C74wjVZvc1APK97" />
  </apikeys>
</configuration>